<h2>Formulario de logueo</h2>

<form action="{{ path_for('auth.signin') }}" method="post">
    Email:<br>
    <input type="text" name="email" ><br>
    Password:<br>
    <input type="password" name="password" ><br><br>
    <input type="submit" value="Iniciar sesion">
</form>
